<!DOCTYPE html>
<html lang="en">
<body>
</body>
<div class="card text-center" style='min-width: 196px;'>
    <h5 class="card-header py-2">{{ region_name }}</h5>
    <div class="card-body">
        <p class="card-text">Confirmed: {{ confirmed }}</p>
        <p class="card-text">Deaths: {{ deaths }}</p>
        <p class="card-text">Recovered: {{ recovered }}</p>
        <p class="card-text">CFR: {{ cfr }}%</p>
        <p class="card-text">Last updated on<br>{{ last_update_date }}</p>
    </div>
</div>
</html>