{% extends "base_generic.html" %}
{% block title %}<title>{{page_title}}</title>{% endblock %}
{% block header %}
<!-- Import Mapbox GL JS -->
<script src='https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.css' rel='stylesheet' />
{% endblock %}

{% block content %}
<div class="main-section">
<section class="hero-wrap js-fullheight">

		<div class="modal fade" id="model_report" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		</div>
		<div class="modal fade" id="modal_disclaimer" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="modal_disclaimer_title">Disclaimer</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
				</div>
				<div class="modal-body">
					<p>This is personal research and it must be used only for informational purposes. Please, <b>do not</b> consider any assumptions which are done on this site as endpoint truth and <b>do not</b> do any serious conclusions.</p>
					<p>To see more about license, or If you see a bug or want to participate in the project, welcome to<a href="https://github.com/bogdanvso/diseases_risk_analysing" class="btn btn-primary btn-link" role="button">GitHub</a></p>
					<h5 class="modal-title center" align="center">Data sources</h5>
					<p>Set of data from<a href="https://www.worldbank.org/" class="btn btn-primary btn-link" role="button">The world data bank</a>and post-processed JHU CSSE COVID-19 dataset<a href="https://github.com/cipriancraciun/covid19-datasets/" class="btn btn-primary btn-link" role="button">cipriancraciun</a></p>
					<h5 class="modal-title center" align="center">Copyrights</h5>
					<p>UI is based on<a href="https://getbootstrap.com/" class="btn btn-primary btn-link" role="button">Bootstrap</a>and<a href="https://colorlib.com/" class="btn btn-primary btn-link" role="button">Colorlib</a></p>
					<p>Backend is based on<a href="https://www.djangoproject.com/" class="btn btn-primary btn-link" role="button">Django</a>and<a href="https://www.postgresql.org/" class="btn btn-primary btn-link" role="button">PostgreSQL</a></p>
				</div>
				<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
				</div>
				</div>
		 	</div>
		</div>

		<table class="table-main">
				<tbody>
				<tr>
					<td style="width: 15%; vertical-align:top;">
						<div id="risk_estimation_form_div"></div>
					</td>
					<td style="width: 70%;">
						<table style="width: 100%;height: 100%;">
							<tbody>
							<tr style="height: 80%;">
								<td>
									<div id='map' style='width: 100%; height: 100%;'></div>
										<script>
										function renderBasicCountryStat(countryCode) {
										  $('#country_base_stat').load("{% url 'country_basic_stat' %}" + "?" + "countryCode=" +
										  countryCode);
										}
										function renderForm(country) {
											$form=$('#risk_estimation_form');
											var formstring = $form.serialize();
											let data = {
											  form: formstring,
											  country_code: country
											};
											 $.ajax({
												type: 'GET',
												url: "{% url 'get_estimate_risk_form' %}",
												data: data,
												success: function (data) {
													var today = new Date();
													$("#risk_estimation_form_div").html(data);
													$('.datepicker').datepicker({
														dateFormat: 'yy-mm-dd',
														maxDate: +9
													});
													$('#risk_estimation_form').on('submit', function(event){
														event.preventDefault();
														 var formstring = $(this).serialize();
														 $.ajax({
														 	type: 'GET',
															url: "{% url 'get_modal_report' %}",
															data: formstring,
															success: function (data) {
																$('#model_report').html(data).modal('show');
															},
															 error: function(data){
																alert("Wrong form submission or internal error.");
															}
														 });
													});
												},
												error: function(data) {
													$("#risk_estimation_form").html("Something went wrong!");
												}
											});
										}

										$.ajaxSetup({ cache: false });
										mapboxgl.accessToken = 'pk.eyJ1IjoiNGVsb3ZlazM3IiwiYSI6ImNrOGV0NDJhaTAwOGIzZ3FramF3amM4ZzkifQ.clTpqunLmWrrotHRK993AQ';
										 var map = new mapboxgl.Map({
										  container: 'map', // The container ID
										  style: 'mapbox://styles/mapbox/light-v10', // The map style to use
										  center: [-99.9, 45.1], // Starting position [longitude, latitude]
										  zoom: 2 // Starting zoom level
										});
										map.scrollZoom.disable();
										map.on('load', function () {
											map.resize();
										});

										map.on('click', function(e) {
											var coords = e.lngLat.lng + ',' + e.lngLat.lat
											var code_request = 'https://api.tiles.mapbox.com/v4/geocode/mapbox.places-country-v1/'
											+ coords + '.json?access_token=' + mapboxgl.accessToken;
											$.getJSON(code_request, function(data) {
												if(data.features.length > 0){
													var country_code = data.features[0].properties.short_code;
													renderBasicCountryStat(country_code);
													renderForm(country_code);
												} else{
													renderBasicCountryStat("00");
													renderForm("00");
												}
											});
										});

										$(document).ready(function() {
											renderBasicCountryStat("00");
											renderForm("00");
											$('#modal_disclaimer').modal('show');
										});


										</script>
								</td>
							</tr>
							<tr style="height: 20%;">
								<td>
									<table style="width: 100%;height: 100%;">
										<tbody>
											<tr>
												<td>
													<div class="card text-center">
													  <h5 class="card-header py-2">
														Fatality rate top
													  </h5>
													  <div class="card-body">
															{% for country in CFR_top %}
														  <p class="card-text">
																{{ country.country_name }}: {{ country.CFR }}%
														  </p>
															{% endfor %}
													  </div>
													</div>
												</td>
												<td>
													<div class="card text-center">
													  <h5 class="card-header py-2">
														Expansion rate top
													  </h5>
													  <div class="card-body">
														 {% for country in growth_top %}
														<p class="card-text">
															{{ country.country_name }}: {{ country.avg_growth }}
														</p>
														  {% endfor %}
													  </div>
													</div>
												</td>
												<td>
													<div class="card text-center">
													  <h5 class="card-header py-2">
														Confirmed cases top
													  </h5>
													  <div class="card-body">
														  {% for country in confirmed_top %}
														<p class="card-text">
															{{ country.country_name }}: {{ country.confirmed }}
														</p>
														  {% endfor %}
													  </div>
													</div>
												</td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
							</tbody>
						</table>


					</td>
					<td style="width: 15%; vertical-align:top;">
						<div id="country_base_stat"></div>
					</td>
				</tr>
				</tbody>
				</table>
</section>

</div>
{% endblock %}