{% extends "base_generic.html" %}
{% block header %}
<!-- Import Mapbox GL JS -->
<script src='https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.css' rel='stylesheet' />
{% endblock %}

{% block content %}
<div class="main-section">
<section class="hero-wrap js-fullheight">


		<table style="width: 100%;height: 100%;">
				<tbody>
				<tr>
					<td style="width: 15%;">
						<h3>AAA</h3>

					</td>
					<td style="width: 70%;">
						<table style="width: 100%;height: 100%;">
							<tbody>
							<tr style="height: 80%;">
								<td>
									<div id='map' style='width: 100%; height: 100%;'></div>
										<script>
										mapboxgl.accessToken = 'pk.eyJ1IjoiNGVsb3ZlazM3IiwiYSI6ImNrOGV0NDJhaTAwOGIzZ3FramF3amM4ZzkifQ.clTpqunLmWrrotHRK993AQ';


										 var map = new mapboxgl.Map({
										  container: 'map', // The container ID
										  style: 'mapbox://styles/mapbox/light-v10', // The map style to use
										  center: [-99.9, 45.1], // Starting position [longitude, latitude]
										  zoom: 2 // Starting zoom level
										});

										map.scrollZoom.disable();



										map.on('load', function () {
											map.resize();
										});

										map.on('click', function(e) {
											console.log(e.lngLat)
											var coords = e.lngLat.lng + ',' + e.lngLat.lat
											var code_request = 'http://api.tiles.mapbox.com/v4/geocode/mapbox.places-country-v1/'
											+ coords + '.json?access_token=' + mapboxgl.accessToken;
											$.getJSON(code_request, function(data) {
												console.log(data.features[0].properties.short_code);
											});
										});


										var coords = '-73.989,40.733';





										console.log('asdasdad')


										</script>
								</td>
							</tr>
							<tr style="height: 20%;">
								<td>
									<h3>BBBBBB2</h3>
								</td>
							</tr>
							</tbody>
						</table>


					</td>
					<td style="width: 15%;">
						<h3>CCC</h3>

					</td>
				</tr>
				</tbody>
				</table>
</section>

</div>
{% endblock %}